In [2]:
import random as rd

switch_result = []
not_switch_result = [] 
n = 1000000

for i in range(n):
  MONTY_HALL = ['goat','car','goat']
  rd.shuffle(MONTY_HALL) 
  choose = rd.randint(0,2)
  not_switch_result.append(MONTY_HALL[choose])
  MONTY_HALL.pop(choose)
  MONTY_HALL.remove('goat')
  switch_result.append(MONTY_HALL[0])

a = float(switch_result.count('car')/1000)
b = float(not_switch_result.count('car')/1000)

print(a/b)

1.9984917586454016